.booking-container {
  border: 5px solid gold;
  width: 75%;
  margin: auto;
  height: 56px;
  position: relative;
  bottom: 40px;
  background-color: white;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 0.35fr;
  margin-bottom: -40px;
  /* padding: px; */
}

.booking-input {
  /* width: %; */
  border-right: 5px solid gold;
  display: grid;
  grid-template-columns: 1fr 4fr;
  /* border-color: white; */
}

.booking-container button {
  background-color: #0071c2;
  height: 99%;
  margin: 0;
  font-size: large;
  font-weight: bolder;
  color: white;
}

.booking-container img {
  height: 90%;
}

.booking-container button:hover {
  background-color: #003580;
}

.booking-input input {
  /* border-color: yellow; */
  border: 1px solid white;
}
